body{
    margin: 0;
    padding: 0;
}


.main-container{
    margin: 0px;
    padding: 0px 200px 0px 200px;
    background-color: solid silver;
}

.header{
    background-color: beige;

}

.first-section{
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.second-section{
    display: flex;
    border: 1px solid black;
    color: black;
}

.third-section{

    display: flex;
    border: 1px solid gray;
}

a:hover{
    color: red;
    text-decoration: none;
}

a{
    text-decoration: none;
color: solid gray;    
}

a:link{
    text-decoration: none;
    color: black;
}

.third-section{

    background-color: aliceblue;
}

.location{
    border: 1px solid black;
}

.city{

    width: 200px;
    height: 30px;
}

.main{
    display: flex;
    flex-direction: column;
}

.topic{
    font-size: 40px;
    font-weight: bolder;
}

.items{

    display: grid;
    grid-template-columns: 200px 200px 200px auto;
    grid-template-rows: 200px auto;
    gap: 30px;
    border: 1px solid black;
    padding: 20px;
}


.logo{
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
}

.sample{
    background-color: bisque;
}